@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
.App {
  font-family: "Lora", serif;
  text-align: left;
  font-size: 1rem;
}

nav {
  background-color: #8b5cf6;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  margin-bottom: 2rem;
}

body {
  background-color: ;
  margin: 0rem;
}

input {
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  margin-top: 1rem;
}

h2 {
  margin: 1rem;
  margin-bottom: 2rem;
}

footer {
  background-color: #db2777;
  padding: 2rem 0rem;
  margin-top: 30vh;
}

span {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 1.25rem;
}
